version: '3.7'

services:

  react-challenge-prod:
    container_name: react-challenge-prod
    build:
      context: .
      dockerfile: Dockerfile.prod
    ports:
      - '1337:80'
    environment:
      - REACT_APP_GITHUB_TOKEN=${REACT_APP_GITHUB_TOKEN}
